.layout {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.generateButton {
    padding: 17.5px;
    margin: 5px;
    background-color: #ff4154;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    color: white;
    font-weight: 500;
    box-shadow: 0px 8px 15px rgba(37, 37, 37, 0.1);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
}
.generateButton:focus {
    outline: none;
}
.generateButton:hover {
    background-color: #ff2c41;
}